<app-header></app-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        fill="solid"
        label="کد ملی"
        labelPlacement="floating"
        placeholder="Enter text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="رمز عبور"
        labelPlacement="floating"
        placeholder="Enter text"
      ></ion-input>
    </ion-item>
    <ion-buttons>
      <ion-button>ورود</ion-button>
      <ion-button>ثبت نام</ion-button>
    </ion-buttons>
  </ion-list>
</ion-content>
<ion-item>
  <app-tabs></app-tabs>
</ion-item>
