<ion-header class="bckground">
  <ion-toolbar>
    <ion-grid >
      <ion-row class="justify-content-">
        <ion-col size="auto">
          <ion-select
            interface="popover"
            [interfaceOptions]="customPopoverOptions"
            toggleIcon="person-circle-outline"
            expandedIcon="person-circle-outline"
          >
          <!-- <ion-icon name="person-circle-outline" slot="start"></ion-icon> -->
            <ion-select-option value="User">سید پارسا موسوی</ion-select-option>
            <ion-select-option value="profile">پروفایل</ion-select-option>
            <ion-select-option value="exit">خروج</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
