// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
body, ion-app {
  --background: linear-gradient(to bottom right, #ff7e5f, #feb47b); /* Example gradient */
  background-size: cover;
  height: 100%;
}

