<ion-content class="bg" style="margin-top: 100px;">
  <form [formGroup]="userForm" style="margin-top: 150px;">
  <ion-list>
    <ion-item class="styled-input">
      <ion-input
        label="کد ملی"
        labelPlacement="floating"
        placeholder="Enter text"
        formControlName="codeMeli"
        id="myInput" class="input-group__input" for="myInput"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.codeMeli">
        <div class="error-message" *ngIf="userForm.controls.codeMeli.hasError(validation.type)  && (userForm.controls.codeMeli.dirty || userForm.controls.codeMeli.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item class="styled-input">
      <ion-input
        label="نام کاربری"
        labelPlacement="floating"
        placeholder="Enter text"
        formControlName="userName"
        id="myInput" class="input-group__input" for="myInput"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.userName">
        <div class="error-message" *ngIf="userForm.controls.userName.hasError(validation.type)  && (userForm.controls.userName.dirty || userForm.controls.userName.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item class="styled-input">
      <ion-input
        label="شماره تلفن"
        labelPlacement="floating"
        placeholder="Enter text"
        formControlName="phoneNumber"
        id="myInput" class="input-group__input" for="myInput"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.phoneNumber">
        <div class="error-message" *ngIf="userForm.controls.phoneNumber.hasError(validation.type)  && (userForm.controls.phoneNumber.dirty || userForm.controls.phoneNumber.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item class="styled-input">
      <ion-input
        label="رمزعبور"
        labelPlacement="floating"
        placeholder="Enter text"
        formControlName="password"
        id="myInput" class="input-group__input" for="myInput"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.password">
        <div class="error-message" *ngIf="userForm.controls.password.hasError(validation.type)  && (userForm.controls.password.dirty || userForm.controls.password.touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-button expand="block" class="rounded-pill-button"
        >ورود</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-button expand="block" class="rounded-pill-button"
        >ثبت نام</ion-button
      >
    </ion-item>
  </ion-list>
</form>
</ion-content>

